@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* //!later (take off lato as well i am not using it as of now) when you get done with other works deduct fonts that are not in use, to make the font import size less. for lato i have done it but for other please see your self. */
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-libre-baskerville: "Libre Baskerville", sans-serif;
  --color-bread: #fcf5de;
  --color-cream: #fff5dc;
  --color-golden-amber: #dca639;
  --color-warm-cream: #fff4e0;
  --color-maroom: #531600;
  --breakpoint-mini-sm: 20rem;
  --breakpoint-mid-sm: 28.75rem;
  --animate-slide: slide 5s linear infinite;
  --animate-delayed-slide: delayed-slide 5s linear 2.5s infinite;
  --animate-ripple: ripple 0.75s ease 1;
  --ease-smooth: ease;
  --radius-xxl: 15px;
  --shadow-btn: 0 0px 10.2px -2.55px #00000030;

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
      /* //translate is better as 100% in tranlate = total width of its element(the element it has been applied on), whereas in left it is equal to the width of parent i want the text to slide through well. completely so it does it better. */
    }
  }

  @keyframes delayed-slide {
    /* rename it to just slide */
    0% {
      opacity: 1;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(-100%);
    }
  }

  @keyframes ripple {
    0% {
      scale: 1;
      opacity: 1;
    }
    25% {
      opacity: 1;
    }

    100% {
      scale: var(--ripple-end-size, 15);
      opacity: 0;
    }
  }
}

#swiperCardEffect .swiper {
  @apply h-fit w-(--card-width);
}

#swiperCardEffect .swiper-slide {
  @apply block overflow-hidden rounded-(--card-radius) transition-all;
}

#swiperSlidePerView .swiper-slide {
  @apply w-(--slide-width);
}

/* #swiperCardEffect .swiper-slide::after {
  @apply absolute inset-0 top-[-150%] left-[-150%] size-full rotate-45 skew-x-[-25%] mix-blend-screen transition-all duration-3000 content-[""];
    background: linear-gradient(
    -45deg,
    transparent 0%,
    transparent 30%,
    rgba(255, 255, 255, 0.242) 40%,
    rgba(255, 255, 255, 0.486) 50%,
    rgba(255, 255, 255, 0.354) 60%,
    transparent 70%,
    transparent 100%
  );
}
  //!later complete this perhaps as of now ti is taking time and i want to move it forward so i am shifting it for later as perhaps i might nto keep it as well. 
#swiperCardEffect .swiper-slide:hover::after {
  top: 150% !important;
}
 */
#swiperCardEffect .swiper-slide-active {
  @apply shadow-[0_6px_14px_#00000021];
}

#swiperCardEffect .swiper-slide-shadow {
  @apply bg-black/2;
}
